.message-field {
  width: 70%;
}

mat-label {
  color: white;
}
/*
mat-form-field {
  background-color: aqua;
} */

mat-form-field {
  background-color: #00000033;
}

.mat-input-element::placeholder{
  color: rgba(157, 157, 157, 0.56);
}

mat-hint {
  color: orange !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-top: 15px;
}

.message-area {
  height: 80%;
  background-color: #00000052;
  width: 80%;
  align-self: center;
  margin-top: 30px;
}

form > div {
  display: flex;
  justify-content: center;
}
