.users {
    background-color: transparent;
    border: 1px solid #f57f01;
    margin: 20px;
    color: white;
}

.guide-card {
    background-color: transparent;
    border: 1px solid #f57f01;
    margin: 20px;
    color: #f57f01;
    width: 20%;
    font-weight: bold;
}

table {
    width: 100%;
    color: white;
}

table tr > * {
    border-bottom: 1px solid #f57f015d;
}

.mat-cell {
    color: white !important;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
    color: #f57f01;
}
