<div class="container">
    <div class="admin-guide"></div>
    <mat-card class="guide-card">
        <p>
            {{ 'admin.guide' | translate }}
        </p>
    </mat-card>

    <h1>{{ 'admin.user.list' | translate }}</h1>
    <mat-card class="users">
        <table
            mat-table
            [dataSource]="users"
            class="mat-elevation-z8"
            color="primary"
        >
            <ng-container matColumnDef="id">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    ID
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.table.username' | translate }}
                </th>
                <td
                    mat-cell
                    [style.background-color]="'#262626'"
                    *matCellDef="let element"
                >
                    {{ element.username }}
                </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.table.email' | translate }}
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.email }}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.table.status' | translate }}
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.status }}
                </td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.table.role' | translate }}
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.role }}
                </td>
            </ng-container>

            <ng-container matColumnDef="change_status">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.change.status' | translate }}
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    <button
                        mat-raised-button
                        color="accent"
                        style="width: 100%"
                        (click)="changeStatus(element.email, element.status)"
                    >
                        {{ 'admin.change.status' | translate }}
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="remove">
                <th
                    [style.background-color]="'#f57f01'"
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{ 'admin.remove' | translate }}
                </th>
                <td
                    [style.background-color]="'#262626'"
                    mat-cell
                    *matCellDef="let element"
                >
                    <button
                        mat-raised-button
                        color="warn"
                        style="width: 100%; margin-left: 10px"
                        (click)="removeUser(element.email)"
                    >
                        {{ 'admin.remove.user' | translate }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
                [ngStyle]="{ 'border-left-color': 'white' }"
                mat-row
                *matRowDef="let row; columns: displayedColumns"
            ></tr>
        </table>
    </mat-card>
</div>
