/* You can add global styles to this file, and also import other style files */

html, body {
  height: 93%;
}

html{
  background-color: black;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.black-snackbar {
  background-color: black;
  color: white;
}

.red-snackbar {
  background-color: red;
  color: white;
}

.green-snackbar {
  background-color: palegreen;
  color: black;
}

.mat-dialog-container{
  background-color: #343434 !important;
  color: #f57f01 !important;
}

.mat-tooltip {
  background-color: #b05931;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.mat-divider {
  border-top-color: #f57f01;
}

.mat-form-field-underline {
  background-color: orange !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}
