.policy-notice {
  font-weight: 100;
  font-size: 12px;
  white-space: pre-wrap;
  display: block;
  width: 40%;
  line-height: 1.4;
  color: #f57f01;
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: center;
}
