<mat-toolbar color="accent">
    <mat-toolbar-row fxLayout="row">
        <span>{{ 'dialog.forgot.password.title' | translate }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>{{
                    'dialog.forgot.password.email' | translate
                }}</mat-label>
                <input matInput formControlName="email" required />
                <mat-error
                    *ngIf="
                        forgotPasswordForm.controls.email.touched &&
                        forgotPasswordForm.controls.email.invalid
                    "
                >
                    <span
                        *ngIf="
                            forgotPasswordForm.controls.email.errors.required
                        "
                        >{{ 'dialog.madatory' | translate }}</span
                    >
                    <span
                        *ngIf="forgotPasswordForm.controls.email.errors.pattern"
                        >{{ 'dialog.pattern' | translate }}</span
                    >
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-raised-button
        color="accent"
        type="submit"
        (click)="handleSubmit()"
        [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
    >
        <mat-icon>send</mat-icon>
        {{ 'dialog.forgot.password.confirm' | translate }}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> {{ 'dialog.close' | translate }}
    </button>
</mat-dialog-actions>
