.mat-toolbar {
  margin: -24px;
  margin-bottom: 10px;
  width: auto;
}

mat-form-field {
  padding: 5px;
}

::ng-deep mat-dialog-container {
  background-color: #262626 !important;
  color: #f57f01 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

::ng-deep input.mat-input-element {
  color: white !important;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}
