<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        
        <h1>Cards</h1>
        <ul>
            <%cards.forEach(function(cards) { %>
                <div>
                    
                    <li><%= cards[0] %></li>
                    <li><%= cards[1] %></li>
                    <li><%= cards[2] %></li>
                    <img src = <%= cards[3] %>></img>
                    <br>
                </div>
            <% }); %>
        </ul>
    </body>
</html>