<html>
    <head>
        <title>MtG Accountant</title>
        <link rel="stylesheet" href="/public/css/homeStyle.css">
    </head>
    <body>
        <div class="top-nav">
            <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
            <div class="titlebox">
                <h1 id="title">MtG Accountant</h1>
            </div> 
        </div>

        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/collections/my-collection">Collection</a>
            <a href="/collections/sets/">Sets</a>
            <a href="#">Search</a>
        </div>

        <script>
            function openNav() {
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("form").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("form").style.marginLeft= "0";
            }
        </script>
    </body>
</html>