ul{
    padding: 0;
    width: 100%;
}

div label input {
    margin-right:100px;
}

body {
    font-family:sans-serif;
    background-color: rgb(24, 24, 24);
    margin: 0;
}

.container{
    margin-left: 250px;
    margin-top: 15vh;
}

#ck-button {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:inherit;
}

#ck-button label {
    float:inherit;
    width:4.0em;
}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#ck-button label input {
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#f9bd69;
    color:#fff;
}

img{
    padding-bottom: 15px;
    height: 50px;
    width: auto;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


p{
    margin: 0;
    margin-left: 10;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    font-weight:600;
    font-size: small;
}

p.collected-card{
    margin:4px;
    background-color:rgb(67, 197, 67);
    border-radius:4px;
    border:1px solid black;
    overflow:auto;
    height: 30px;
    float:inherit;
    text-align: center;
    font-weight: 600;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(24, 24, 24);
}

.flex-container > div {
background-color: #565656;
flex: 1 1 21%;
width: 150px;
margin: 10px;
text-align: center;
line-height: 25px;
font-size: 15px;
border: 1px solid white;
}

.item {
    padding: 10px;
}

form{
    margin-left: 250px;
}

.top-nav{
    height: 15vh;
    background-color: #111;
    border-bottom: 1px solid white;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}

#title{
    margin-left: 100px;
    color: white;
}

.titlebox{
    display: flex;
    align-items: center;
}

#title a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
}