<mat-card class="most-valuable-card">
  <mat-toolbar color="accent" class="name-tool">
    Top card: {{mostValuableCard?.name}}
  </mat-toolbar>
  <div class="most-valuable">
    <div class="valuable-img">
      <img class="valuable-card" src="{{mostValuableCard?.image_uris?.border_crop!}}" alt="">
    </div>
    <div class="most-valuable-data">
      <mat-card class="most-valuable-data-card">
        <p class="most-valuable-data-row">{{mostValuableCard?.set_name}}</p>
        <p class="most-valuable-data-row">{{mostValuableCard?.released_at}}</p>
        <p class="most-valuable-data-row">{{mostValuableCard!.prices?.eur}} €</p>
      </mat-card>
    </div>
  </div>
</mat-card>
