.most-valuable-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #f57f01;
  margin: 20px;
  /* width: 350px; */
  height: 75vh;
  margin: 0;
  margin-bottom: 20px;
  align-items: center;
}

.most-valuable {
  display: flex;
  flex-direction: column;
  background-color: #161404;
}

.most-valuable-data {
  display: flex;
  flex-direction: column;
}

.most-valuable-data-row {
  font-size:x-large;
  color: white;
  margin-bottom: 20px;
}

.most-valuable-data-card {
  display: flex;
  flex-direction: column;
  background-color: #f57f01;
  border: 1px solid #f57f01;
  height: 100%;
  width: 300px;
  width: 100%;
}

.value-cont {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  color: white;
}

.top-card-cont {
color: white;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
}

.most-valuable-card > div:hover {
  background-color: #f57f0180;
  transition: 500ms;
  cursor: pointer;
}

.most-valuable-card > div:hover > h2 {
  color: white;
}

.mat-divider {
  position: unset !important;
}

h3 {
  font-weight: 600;
}

h2 {
  color: #f57f00;
}
