<div class="search-container">
    <mat-card class="search-card">
        <mat-toolbar class="page-title" color="accent"
            ><p class="page-title">
                {{ 'search.search' | translate }}
            </p></mat-toolbar
        >

        <mat-card class="form-card">
            <div class="form-container">
                <app-search-form
                    [sets]="sets"
                    (response)="setResponse($event)"
                    (submitted)="isSubmitted($event)"
                    (isLoading)="getLoading($event)"
                ></app-search-form>
            </div>
        </mat-card>
        <div class="result-container" *ngIf="submitted">
            <mat-toolbar class="page-title" color="accent"
                ><p class="result-title">Results</p></mat-toolbar
            >

            <mat-card class="table-card" *ngIf="!isMobile">
                <mat-spinner
                    *ngIf="isLoading"
                    color="accent"
                    class="loading-spinner"
                ></mat-spinner>
                <app-results
                    [response]="response"
                    [cards]="cards"
                    [collection]="collection"
                ></app-results>
            </mat-card>

            <mat-card class="table-card" *ngIf="isMobile">
                <mat-spinner
                    *ngIf="isLoading"
                    color="accent"
                    class="loading-spinner"
                ></mat-spinner>
                <app-results-mobile
                    [response]="response"
                    [cards]="cards"
                    [collection]="collection"
                ></app-results-mobile>
            </mat-card>
        </div>
    </mat-card>
</div>
