.search-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
}

.form-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container > *{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-card {
  margin: 20px;
  background-color: transparent;
  border: 1px solid #f57f01;
}

table{
  width: 100%;
  color: white;
}

table > * {
  color: white;
}

table tr > * {
  border-bottom: 1px solid #f57f015d;
}

table tr:hover > *{
  background-color: #814300 !important;
}

.result-card {
  margin: 20px;
  background-color: transparent;
  border: 1px solid #f57f01;
}
.result-title {
  color: white;
}

.row{
  background-color: #f57f01;
}

.mat-cell {
  color: white;
  background-color: transparent;
}

.mat-button-toggle-checked {
  background-color: #c66600 !important;
}

.mat-button-toggle {
  color: white !important;
  background-color: #f57f01;
  width: 150px;
}

.mat-form-field{
  width: 400px;
}

::ng-deep .mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

::ng-deep .mat-slider-thumb {
  transform: scale(0) !important;
}

::ng-deep .mat-slider-thumb-label-text {
  opacity: 1 !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f57f01 !important;
}

::ng-deep input.mat-input-element {
  color: white !important;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px;
  border-radius: 8px
}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  background-color: #f57f01;

}
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #f57f01;
  height: 100%;
}
::ng-deep .mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  bottom: -20px;
  right: -20px;
}
::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #f57f01;
}

mat-slider{
  width: 500px;
}

p{
  color: #f57f01;
  font-weight: bold;
}

.mat-divider {
  border-top-color: #f57f0174;
}

.page-title{
  color: white;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: 60px;
}

.collected-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: greenyellow;
  border: 3px solid green;
  margin-left: 80%;
}

.notcollected-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 82, 82);
  border: 3px solid red;
  margin-left: 80%;
}

.preview-image {
  display: none;
}

.name-td:hover #hover-image {
  position: absolute;
  left: 200px;
  display: block;
}

td {
  font-weight: bolder;
}

.name-td:hover {
  color: #ff8400;
}

#hover-image {
  display: none;
  height: 400px;
  width: auto;
}
