<div class="search-container">
    <mat-card class="search-card">
        <mat-toolbar class="page-title" color="accent"
            ><p class="page-title">
                {{ 'search.search' | translate }}
            </p></mat-toolbar
        >

        <mat-card class="form-card">
            <div class="form-container">
                <form (ngSubmit)="onSubmit()" [formGroup]="parentForm">
                    <div class="form-group">
                        <mat-icon>perm_contact_calendar</mat-icon>
                        <p>{{ 'search.name' | translate }}</p>
                        <mat-form-field
                            appearance="fill"
                            color="primary"
                            [formGroup]="parentForm"
                        >
                            <mat-label>Card name</mat-label>
                            <input
                                matInput
                                placeholder="Placeholder"
                                formControlName="name"
                            />
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-icon>star_border</mat-icon>
                        <p>{{ 'search.rarity' | translate }}:</p>
                        <mat-button-toggle-group
                            name="rarities"
                            aria-label="Rarities"
                            multiple
                            formControlName="rarities"
                        >
                            <mat-button-toggle
                                [style.background-color]="'#f57f01'"
                                value="common"
                                >Common</mat-button-toggle
                            >
                            <mat-button-toggle value="uncommon"
                                >Uncommon</mat-button-toggle
                            >
                            <mat-button-toggle value="rare"
                                >Rare</mat-button-toggle
                            >
                            <mat-button-toggle value="mythic"
                                >Mythic</mat-button-toggle
                            >
                        </mat-button-toggle-group>
                    </div>

                    <br />
                    <div class="form-group">
                        <mat-icon>library_books</mat-icon>
                        <p>{{ 'search.type' | translate }}</p>
                        <mat-button-toggle-group
                            name="setType"
                            aria-label="Set Type"
                            multiple
                            formControlName="setTypes"
                        >
                            <mat-button-toggle value="expansion"
                                >Expansion</mat-button-toggle
                            >
                            <mat-button-toggle value="core"
                                >Core</mat-button-toggle
                            >
                        </mat-button-toggle-group>
                    </div>
                    <br /><br />

                    <div class="form-group">
                        <mat-icon>euro_symbol</mat-icon>
                        <p>{{ 'search.min.price' | translate }}</p>
                        <br />
                        <mat-slider
                            displayValue
                            thumbLabel
                            formControlName="minPrice"
                            min="0"
                            max="1000"
                            step="1"
                        ></mat-slider>
                    </div>

                    <div class="form-group">
                        <mat-icon>euro_symbol</mat-icon>
                        <p>{{ 'search.max.price' | translate }}</p>
                        <br />
                        <mat-slider
                            displayValue
                            thumbLabel
                            formControlName="maxPrice"
                            min="0"
                            max="1000"
                            step="1"
                        ></mat-slider>
                    </div>

                    <div class="form-group">
                        <mat-icon>view_agenda</mat-icon>
                        <p>{{ 'search.sets' | translate }}</p>
                        <mat-form-field appearance="fill">
                            <mat-label>Sets</mat-label>
                            <mat-select multiple formControlName="sets">
                                <mat-option
                                    *ngFor="let set of sets"
                                    [value]="set.code"
                                    >{{ set.code }} - {{ set.name }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-icon>color_lens</mat-icon>
                        <p>{{ 'search.color' | translate }}</p>
                        <mat-form-field appearance="fill">
                            <mat-label>Color</mat-label>
                            <mat-select multiple formControlName="colors">
                                <mat-option
                                    *ngFor="let color of colors"
                                    [value]="color.short"
                                    >{{ color.name }}</mat-option
                                >
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-icon>check_circle</mat-icon>
                        <p>{{ 'search.collected' | translate }}</p>
                        <mat-button-toggle-group
                            name="owned"
                            aria-label="Collection"
                            formControlName="owned"
                        >
                            <mat-button-toggle value="COLLECTED"
                                >In Collection</mat-button-toggle
                            >
                            <mat-button-toggle value="NOT_COLLECTED"
                                >Not In Collection</mat-button-toggle
                            >
                            <mat-button-toggle value="ALL"
                                >All</mat-button-toggle
                            >
                        </mat-button-toggle-group>
                    </div>

                    <button
                        class="button"
                        type="submit"
                        mat-raised-button
                        color="accent"
                        (click)="scrollToBottom()"
                    >
                        {{ 'search.do.search' | translate }}
                    </button>
                </form>
            </div>
        </mat-card>
        <div class="result-container" *ngIf="submitted">
            <mat-toolbar class="page-title" color="accent"
                ><p class="result-title">Results</p></mat-toolbar
            >

            <app-sort-tabs></app-sort-tabs>

            <mat-card class="table-card" *ngIf="!isMobile">
                <mat-spinner
                    *ngIf="isLoading"
                    color="accent"
                    class="loading-spinner"
                ></mat-spinner>
                <table
                    mat-table
                    [dataSource]="response"
                    class="mat-elevation-z8"
                    color="primary"
                    matSort
                >
                    <ng-container matColumnDef="name">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Name
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            [style.cursor]="'pointer'"
                            mat-cell
                            *matCellDef="let element"
                            (click)="goToCard(element.name)"
                            class="name-td"
                        >
                            {{ element.name }}
                            <img
                                id="hover-image"
                                *ngIf="element.image_uris != null"
                                src="{{ element.image_uris.png }}"
                            />
                            <img
                                id="hover-image"
                                *ngIf="element.image_uris == null"
                                src="{{ element.card_faces[0].image_uris.png }}"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="set">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Set
                        </th>
                        <td
                            mat-cell
                            [style.background-color]="'#262626'"
                            *matCellDef="let element"
                        >
                            {{ element.set_name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="set_code">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Set Code
                        </th>
                        <td
                            mat-cell
                            [style.background-color]="'#262626'"
                            *matCellDef="let element"
                            style="text-transform: uppercase"
                        >
                            {{ element.set }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="set_type">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Set Type
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            {{ element.set_type }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="collector_number">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Collector Number
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            {{ element.collector_number }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rarity">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Rarity
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            {{ element.rarity }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="prices">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Prices
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            {{ element.prices.eur }} €
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="owned">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Collected
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            <div
                                class="collected-circle"
                                *ngIf="isOwned(element.name)"
                            ></div>
                            <div
                                class="notcollected-circle"
                                *ngIf="!isOwned(element.name)"
                            ></div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </mat-card>

            <mat-card class="table-card" *ngIf="isMobile">
                <mat-spinner
                    *ngIf="isLoading"
                    color="accent"
                    class="loading-spinner"
                ></mat-spinner>
                <table
                    mat-table
                    [dataSource]="response"
                    class="mat-elevation-z8"
                    color="primary"
                    matSort
                >
                    <ng-container matColumnDef="name">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Name
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            [style.cursor]="'pointer'"
                            mat-cell
                            *matCellDef="let element"
                            (click)="goToCard(element.name)"
                            class="name-td"
                        >
                            {{ element.name }}
                            <img
                                id="hover-image"
                                *ngIf="element.image_uris != null"
                                src="{{ element.image_uris.png }}"
                            />
                            <img
                                id="hover-image"
                                *ngIf="element.image_uris == null"
                                src="{{ element.card_faces[0].image_uris.png }}"
                            />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="set_code">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Set Code
                        </th>
                        <td
                            mat-cell
                            [style.background-color]="'#262626'"
                            *matCellDef="let element"
                            style="text-transform: uppercase"
                        >
                            {{ element.set }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="collector_number">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Collector Number
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            {{ element.collector_number }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="owned">
                        <th
                            [style.background-color]="'#f57f01'"
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                        >
                            Collected
                        </th>
                        <td
                            [style.background-color]="'#262626'"
                            mat-cell
                            *matCellDef="let element"
                        >
                            <div
                                class="collected-circle"
                                *ngIf="isOwned(element.name)"
                            ></div>
                            <div
                                class="notcollected-circle"
                                *ngIf="!isOwned(element.name)"
                            ></div>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumnsMobile"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumnsMobile"
                    ></tr>
                </table>
            </mat-card>
        </div>
    </mat-card>
</div>
