.search-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
    max-width: 50%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.table-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-spinner {
    margin: 10px;
}

table {
    width: 100%;
    color: white;
}

table > * {
    color: white;
}

table tr > * {
    border-bottom: 1px solid #f57f015d;
}

table tr:hover > * {
    background-color: #814300 !important;
}

.result-card {
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
}
.result-title {
    color: white;
}

.row {
    background-color: #f57f01;
}

.mat-cell {
    color: white;
    background-color: transparent;
}

p {
    color: #f57f01;
    font-weight: bold;
}

.mat-divider {
    border-top-color: #f57f0174;
}

.page-title {
    color: white;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    height: 60px;
    margin-top: 25px;
}

.collected-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: greenyellow;
    border: 3px solid green;
    margin-left: 80%;
}

.notcollected-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 82, 82);
    border: 3px solid red;
    margin-left: 80%;
}

.preview-image {
    display: none;
}

.name-td:hover #hover-image {
    position: absolute;
    left: 200px;
    display: block;
}

td {
    font-weight: bolder;
}

.name-td:hover {
    color: #ff8400;
}

#hover-image {
    display: none;
    height: 400px;
    width: auto;
}
