.card-main-container{
    display: flex;
    margin-bottom: 15px;
}

mat-card.main{
    background-color: transparent;
    border: 1px solid #f57f01;
    color: #f57f01;
}

.buy-button, .change-image-button {
  width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height:100%;
}

.details > mat-card{
    background-color: #f57f01;
    color: white;
    margin-left: 15px;

}

p.main-data{
    font-size: 25px;
    padding: 5px;
}

.details-sub{
    display: flex;
    height: 100%;
    margin-top: 15px;
}

.oracle-text{
    background-color: transparent;
    border: 1px solid #f57f01;
    color: #f57f01;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    height: 90%;
    width: 100%;
    margin-right: 20px;
}

.sub-data{
    width: 50%;
    margin-left: 15px;
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

p{
    font-weight: bold;
}

.price{
    color: white;
    padding-left: 5px;
}

.price-div, .data-div, .color-div{
    display: flex;
    font-weight: bold;
}

.data-div > p {
  color: white;
  padding-left: 5px;
}

.color-div > p {
  color: white;
  padding-left: 5px;
}

.prices {
  background-color: transparent;
  border: 1px solid #f57f01;
  padding: 20px;
  margin-right: 20px;
}

.main-data-container {
  display: flex;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.main-data-subcont {
  margin-top: 15px !important;
  width: 90%;
}

.collected {
  background-color: greenyellow;
  width: 10%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-collected {
  background-color: rgb(197, 48, 48);
  width: 10%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: scale(2);
}

.data-div-cont {
  height: 50%;
}

.oracle-button {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.add-button{
  margin-top: 20px;
  background-color:#fb9b34;
}

.remove-button{
  margin-top: 20px;
  background-color:#b75e00;
}
