<mat-toolbar color="accent"><p class="name">{{card.name}}<p></mat-toolbar>
<mat-card class="main">
    <div class="card-main-container">
        <img *ngIf="card.image_uris != undefined; else elsePart" src="{{card.image_uris.border_crop}}" alt="">
        <ng-template #elsePart>
          <img src="{{card.card_faces[0].image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
        </ng-template>
        <div class="details">
            <mat-card (click)="debug()">
                <p class="main-data">Rarity: {{card.rarity}}</p>
                <p class="main-data">Set: {{card.set_name}}</p>
                <p class="main-data">Collection number: {{card.collector_number}}</p>
                <p class="main-data">Price: {{card.prices.eur}} €</p>
            </mat-card>
            <div class="details-sub">
                <div class="sub-data">
                    <p>Artist: {{card.artist}}</p>
                    <p>Released: {{card.released_at}}</p>

                    <p *ngIf="card.colors != null">Colors: {{card.colors}}</p>
                    <p *ngIf="card.color_identity[0] != null">Color Identity: {{card.color_identity}}</p>

                    <br>

                    <p>Prices:</p>
                    <div class="price-div">non-foil: <p class="price">{{card.prices.eur}}</p>€</div>
                    <div class="price-div">foil: <p class="price">{{card.prices.eur_foil}}</p>€</div>
                    <div class="price-div">non-foil: <p class="price">{{card.prices.usd}}</p>$</div>
                    <div class="price-div">foil: <p class="price">{{card.prices.usd_foil}}</p>$</div>
                    <div class="price-div">tix: <p class="price">{{card.prices.tix}}</p></div>
                </div>
                <mat-card class="oracle-text">
                    <p>{{card.oracle_text}}</p>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-card class="main">
        <p>{{card.flavor_text}}</p>
    </mat-card>
</mat-card>
