<!-- <div class="sets-container" *ngIf="submittedValue == 'core'">
    <ng-container *ngFor="let set of sets">
        <mat-card
            *ngIf="set.set_type == 'core'"
            class="set-card"
            [routerLink]="['/dashboard/sets/', set.code]"
        >
            <mat-toolbar color="accent"
                ><p class="name">{{ set.name }}</p>
                <p></p
            ></mat-toolbar>
            <img src="{{ set.icon_svg_uri }}" alt="" />
            <mat-card color="accent" class="info">
                <mat-progress-bar
                    mode="determinate"
                    value="{{ getProgressValue(set.code) }}"
                    class="progress-bar"
                    color="accent"
                ></mat-progress-bar>
                <h2 style="text-transform: capitalize">{{ set.set_type }}</h2>
                <h2>Cards: {{ set.card_count }}</h2>
            </mat-card>
        </mat-card>
    </ng-container>
</div> -->
