.card{
    /* padding: 10px; */
    padding-bottom: 5px;
    width: 100%;
    color: #f57f01;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 100px;
}

.column{
    padding: 10px;
}

.button {
    width: 100%;
}

.hello {
    font-size: 50px;
    color: #f57f01;
    text-transform: capitalize;
}

.hello-cont{
    margin-top: 55px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mat-card{
    background-color: transparent;
    border: 1px solid #f57f01;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.progress-list, .top-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

app-progress-list {
  height: 100%;
}

@media only screen and (max-width: 1250px){
  .main-container {
    flex-direction: column-reverse;
  }

  .main-container > div{
    width: 100%;
  }

  app-progress-list {
    width: 100%;
    /* padding: 10px; */
  }

  .top-card, .progress-list{
    padding: 10px;
  }
}

.top-card, .progress-list, .row {
  width: 30%;
}

.top-card > *, .progress-list > *, .row > *{
  width: 100%;
}
