<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button id="menu-button" type="button" mat-raised-button (click)="drawer.toggle()" color="accent">
      ≡
    </button>
    <span id="title">MtG Accountant</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button color="accent" style="color: black;">
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>

<app-footer></app-footer>

