.sidenav{
  width: 200px;
  background-color: black;
}

.text {
  margin-left: 20px;
}

.title{
  margin-left: 20px;
  background-color: black;
  margin: 0;
  padding: 20px;
}

:host {
  position:absolute; top:0; bottom:0; right:0; left:0;
}

.content{
  margin-left: 0px;
}
