<app-set *ngIf="isSet"></app-set>

<div class="info" *ngIf="!isSet">
  <h1>{{user}}'s collection</h1>
  <!--<p>Total cards: {{cards[1].requested_amount}}</p> -->
  <div class="progress-cont">
    <div class="progress-bar">
      <div class="progress" [style.with.%]="[progress]"></div>
    </div>
    <div class="collected-data">
      <p>{{collected_data.collected}} / {{collected_data.total}}</p>
    </div>
  </div>

  <div class="topcards-container">
    <h2>Top Cards</h2>
    <div class="subcont">
      <div class="slide" *ngFor="let card of topCards">
        <a href="#">
          <img src="{{card.imageuri_small}}" alt="">
        </a>
        <div>
          <h3>{{card.name}}</h3>
          <h4>{{card.price}} €</h4>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="sort">
  <h2>Sort</h2>
  <div class="button-cont">
    <div class="button-row">
      <input type="button" value="Price Ascending" class="sort-button" (click)="sortCards(0)">
      <input type="button" value="Price Decending" class="sort-button" (click)="sortCards(1)">
    </div>
    <div class="button-row">
      <input type="button" value="Name A-Z" class="sort-button" (click)="sortCards(2)">
      <input type="button" value="Name Z-A" class="sort-button" (click)="sortCards(3)">
    </div>
    <div class="button-row">
      <input type="button" value="name" class="sort-button" (click)="sortCards(4)">
      <input type="button" value="name" class="sort-button ">
    </div>
  </div>
  <button (click)="postCards()" class="btn btn-success">Submit</button>
</div>

<div class="cards-container">
  <div *ngFor="let card of cards">
    <div class="card">
      <h3>{{card.name}}</h3>
      <a href="cards/{{card.id}}">
        <img src="{{card.imageuri_small}}" class="img" alt="">
      </a>
      <p>{{card.set_name}}</p>
      <p style="text-transform: capitalize;">{{card.rarity}}</p>
      <p>Collection number: {{card.collection_number}}</p>
      <p>{{card.price}} €</p>

      <div *ngIf="card.is_in_collection == 1; else elseBlock">
        <div>in Collection</div>
      </div>

      <ng-template #elseBlock>
        <label>
          <input type="checkbox"
                name="data"
                value="{{card.name}}"
                [(ngModel)]="card.isChecked"/>
        </label>
      </ng-template>
    </div>
  </div>
</div>

