
<mat-card class="head-card">
  <mat-toolbar color="accent" class="name-tool">
    Collection Data
  </mat-toolbar>
  <div class="head-cont">
    <!-- <mat-card class="most-valuable-card">
      <mat-toolbar color="accent" class="name-tool">
        Top card: {{mostValuableCard.name}}
      </mat-toolbar>
      <div class="most-valuable">
        <div class="valuable-img">
          <img class="valuable-card" src="{{mostValuableCard.image_uris.border_crop}}" alt="">
        </div>
        <div class="most-valuable-data">
          <mat-card class="most-valuable-data-card">
            <p class="most-valuable-data-row">{{mostValuableCard.set_name}}</p>
            <p class="most-valuable-data-row">{{mostValuableCard.released_at}}</p>
            <p class="most-valuable-data-row">{{mostValuableCard.prices.eur}} €</p>
          </mat-card>
          <p class="most-valuable-data">{{}}</p>
          <p class="most-valuable-data">{{}}</p>
          <p class="most-valuable-data">{{}}</p>
        </div>
      </div>
    </mat-card> -->
    <div class="value-cont">
      <h2>Collection Value</h2>
      <h3 class="value">{{collectionValue}} €</h3>
    </div>
  </div>
</mat-card>


<h2>Sort Cards</h2>

<div class="sort-tabs">
  <app-sort-tabs></app-sort-tabs>
</div>

<div class="cards-container">
    <ng-container *ngFor="let card of (cards | slice: lowValue : highValue)">
        <mat-card class="card">
            <mat-toolbar color="accent" class="name-tool">
              <p class="name">{{card.name}}<p>
              <div class="collected-circle" *ngIf="isInCollection(card.id) === true;"></div>
              <div class="notcollected-circle" *ngIf="isInCollection(card.id) === false;"></div>
            </mat-toolbar>
            <img *ngIf="card.image_uris != undefined; else elsePart" src="{{card.image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
            <ng-template #elsePart>
              <img src="{{card.card_faces[0].image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
            </ng-template>

            <mat-card color="accent" class="info">
              <div>
                <p style="text-transform: capitalize;">{{card.rarity}}</p>
                <p>Collector Number: {{card.collector_number}}</p>
                <p *ngIf="card.prices.eur">{{card.prices.eur}} €</p>
                <p *ngIf="!card.prices.eur">0 €</p>
              </div>

              <div *ngIf="isInCollection(card.id) === true; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <button mat-raised-button style="color: white;" class="remove-button" (click)="removeFromCollection(card.id)">
                  remove
                </button>
              </ng-template>
              <ng-template #elseBlock>
                <button mat-raised-button color="accent" style="color: white;" class="add-button" (click)="addToCollection(card.id)">
                  Add
                </button>
              </ng-template>

            </mat-card>
          </mat-card>
    </ng-container>
</div>

<mat-paginator [length]="cards.length" pageSize=20
               (page)="getPaginatorData($event)" [pageSizeOptions]="[20, 40]"
               showFirstLastButtons="false" style="background-color: #f57f01; color: white;">
</mat-paginator>

<app-quick-move></app-quick-move>
