.cards-container {
    display: flex;
    flex-flow: wrap;
    margin-right: 12px;
    margin-top: 12px;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
}

p.name {
    font-size: 15px;
}

p {
    font-weight: bolder;
    margin: 0;
    color: white;
}

h2 {
    text-align: center;
    color: #f57f01;
    margin-top: 50px;
}

.sort-tabs {
    margin: 20px;
}

.head-cont {
    display: flex;
}
