<h2>Sort Cards</h2>

<div class="sort-tabs">
    <app-sort-tabs></app-sort-tabs>
</div>

<div class="cards-container">
    <ng-container *ngFor="let card of cards | slice : lowValue : highValue">
        <app-single-card
            [card]="card"
            [collection]="collection"
        ></app-single-card>
    </ng-container>
</div>

<mat-paginator
    [length]="cards.length"
    pageSize="20"
    (page)="getPaginatorData($event)"
    [pageSizeOptions]="[20, 40]"
    showFirstLastButtons="false"
    style="background-color: #f57f01; color: white"
>
</mat-paginator>

<app-quick-move></app-quick-move>
