<div class="profile-container">
    <mat-card class="profile-card">
        <mat-card color="accent" class="info">
            <mat-toolbar color="accent"
                ><p class="title">{{ 'profile.title' | translate }}</p>
                <p></p
            ></mat-toolbar>

            <div class="profile-side-cont">
                <div class="image-div">
                    <img src="{{ ImageUrl }}" alt="" />
                    <button
                        mat-raised-button
                        color="accent"
                        style="color: white"
                        class="image-button"
                        (click)="handleUploadImageAction()"
                    >
                        {{ 'profile.change.photo' | translate }}
                    </button>
                </div>
                <div class="data">
                    <div class="data-title">
                        {{ 'profile.email' | translate }}
                        <p class="sub">{{ user?.email }}</p>
                    </div>
                    <mat-divider></mat-divider><br />
                    <div class="data-title">
                        {{ 'profile.username' | translate }}
                        <p class="sub">{{ user?.username }}</p>
                    </div>
                    <mat-divider></mat-divider><br />
                    <div class="data-title">
                        Id:
                        <p class="sub">{{ user?.id }}</p>
                    </div>
                    <mat-divider></mat-divider><br />
                    <button
                        mat-raised-button
                        color="accent"
                        style="color: white"
                        class="password-button"
                        (click)="handleChangePasswordAction()"
                    >
                        {{ 'profile.change.password' | translate }}
                    </button>
                </div>
            </div>
        </mat-card>
    </mat-card>
</div>
