<div class="filter-container">
  <form [formGroup]="parentForm">
    <mat-button-toggle-group class="toggle-group" name="type" aria-label="Set Type" (change)="onSubmit($event.value)">
      <mat-button-toggle class="toggle" value="all">All</mat-button-toggle>
      <mat-button-toggle class="toggle" value="core">Core</mat-button-toggle>
      <mat-button-toggle class="toggle" value="expansion">Expansion</mat-button-toggle>
    </mat-button-toggle-group>
  </form>
</div>

<div class="sets-container" *ngIf="submittedValue == 'all' || submittedValue == ''">
  <ng-container *ngFor="let set of sets">
    <mat-card *ngIf="set.set_type == 'expansion' || set.set_type == 'core'" class="set-card" [routerLink]="['/dashboard/sets/', set.code]">
      <mat-toolbar color="accent"><p class="name">{{set.name}}<p></mat-toolbar>
      <img src="{{set.icon_svg_uri}}" alt="">
      <mat-card color="accent" class="info">
        <h2 style="text-transform: capitalize;">{{set.set_type}}</h2>
        <h2>Cards: {{set.card_count}}</h2>
      </mat-card>
    </mat-card>
  </ng-container>
</div>

<div class="sets-container" *ngIf="submittedValue == 'core'">
  <ng-container *ngFor="let set of sets">
    <mat-card *ngIf="set.set_type == 'core'" class="set-card" [routerLink]="['/dashboard/sets/', set.code]">
      <mat-toolbar color="accent"><p class="name">{{set.name}}<p></mat-toolbar>
      <img src="{{set.icon_svg_uri}}" alt="">
      <mat-card color="accent" class="info">
        <h2 style="text-transform: capitalize;">{{set.set_type}}</h2>
        <h2>Cards: {{set.card_count}}</h2>
      </mat-card>
    </mat-card>
  </ng-container>
</div>

<div class="sets-container" *ngIf="submittedValue == 'expansion'">
  <ng-container *ngFor="let set of sets">
    <mat-card *ngIf="set.set_type == 'expansion'" class="set-card" [routerLink]="['/dashboard/sets/', set.code]">
      <mat-toolbar color="accent"><p class="name">{{set.name}}<p></mat-toolbar>
      <img src="{{set.icon_svg_uri}}" alt="">
      <mat-card color="accent" class="info">
        <h2 style="text-transform: capitalize;">{{set.set_type}}</h2>
        <h2>Cards: {{set.card_count}}</h2>
      </mat-card>
    </mat-card>
  </ng-container>
</div>
