.set-card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    min-width: 20%;
    margin: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f57f01;
}

.sets-container{
    display: flex;
    flex-flow: wrap;
    margin-right: 12px;
    margin-top: 12px;
    flex: 1;
    min-width: 0;
}

img {
    margin: 20px;
    height: 150px;
    width: 150px;
    filter: invert(64%) sepia(58%) saturate(4284%) hue-rotate(358deg) brightness(88%) contrast(103%);
  }

p.name{
    font-size: 15px;
}

h2{
    color: white;
}

.info{
    width: 100%;
    background-color: #f57f01;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.filter-container {
  width: 100%;
  margin-top: 15px;
}

.toggle-group {
  width: 100%;
}

.toggle {
  width: 33.3%;
}

.mat-button-toggle-checked {
  background-color: #c66600 !important;
}

.mat-button-toggle {
  color: white !important;
  background-color: #f57f01;
  font-weight: bold;
}

.set-card:hover {
    background-color: #ce710070;
    transition: 500ms;
}

.set-card:hover > img{
  filter: invert(0%) ;
}

.progress-bar {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 15px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.info > h2 {
  margin-top: 10px;
  margin-left: 25px;
}

