table {
    width: 100%;
    color: white;
}

table > * {
    color: white;
}

table tr > * {
    border-bottom: 1px solid #f57f015d;
}

table tr:hover > * {
    background-color: #814300 !important;
}

.mat-cell {
    color: white;
    background-color: transparent;
}

.collected-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: greenyellow;
    border: 3px solid green;
    margin-left: 80%;
}

.notcollected-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 82, 82);
    border: 3px solid red;
    margin-left: 80%;
}

.preview-image {
    display: none;
}

.name-td:hover #hover-image {
    position: absolute;
    left: 200px;
    display: block;
}

td {
    font-weight: bolder;
}

.name-td:hover {
    color: #ff8400;
}

#hover-image {
    display: none;
    height: 400px;
    width: auto;
}
