<mat-card class="form-card">
    <mat-toolbar color="accent">{{ 'chat.new' | translate }}</mat-toolbar>
    <form (ngSubmit)="onSubmit()" [formGroup]="chatForm">
        <div class="form-group">
            <p>{{ 'chat.title' | translate }}</p>
            <mat-form-field
                appearance="fill"
                color="primary"
                [formGroup]="chatForm"
            >
                <mat-label>{{ 'chat.title' | translate }}</mat-label>
                <input matInput placeholder="Title" formControlName="title" />
            </mat-form-field>
        </div>

        <section class="form-group">
            <p>{{ 'chat.users' | translate }}</p>
            <mat-form-field
                appearance="fill"
                color="primary"
                [formGroup]="chatForm"
            >
                <mat-label>{{ 'chat.user' | translate }}</mat-label>
                <input
                    type="text"
                    placeholder="User"
                    aria-label="User"
                    matInput
                    [formGroup]="chatForm"
                    formControlName="users"
                    [matAutocomplete]="auto"
                />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option
                        *ngFor="let user of allUsers"
                        [value]="user.email"
                    >
                        {{ user.username }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </section>

        <section class="form-group">
            <mat-checkbox
                class="private-selection"
                color="accent"
                [formGroup]="chatForm"
                formControlName="private"
                >{{ 'chat.private' | translate }}</mat-checkbox
            >
        </section>

        <button class="button" type="submit" mat-raised-button color="accent">
            {{ 'chat.create' | translate }}
        </button>
    </form>
</mat-card>
