<app-set-data
    [wholeSetValue]="wholeSetValue"
    [cards]="cards"
    [collection]="collection"
    [set]="set"
    [collected]="collected"
></app-set-data>

<div class="options-container">
    <mat-card class="options">
        <h2>{{ 'sets.set.quick.move' | translate }}</h2>

        <div class="child-sets">
            <ng-container *ngFor="let child of childSets">
                <mat-card
                    class="child-set-card"
                    (click)="moveToSubSet(child.code)"
                >
                    <img src="{{ child.icon_svg_uri }}" alt="" />
                    <p>{{ trimName(child.name) }}</p>
                </mat-card>
            </ng-container>
        </div>

        <h2>{{ 'sets.set.sort.cards' | translate }}</h2>

        <div class="sort-tabs">
            <app-sort-tabs></app-sort-tabs>
        </div>

        <button
            mat-raised-button
            class="binder-button"
            color="accent"
            (click)="handleBinderOpenAction()"
        >
            {{ 'sets.set.open.binder.tool' | translate }}
        </button>
    </mat-card>
</div>

<div class="cards-container">
    <ng-container *ngFor="let card of cards">
        <app-single-card
            [card]="card"
            [collection]="collection"
        ></app-single-card>
    </ng-container>
</div>
<app-quick-move></app-quick-move>
