.card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    min-width: 20%;
    margin: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f57f01;
}

.cards-container{
    display: flex;
    flex-flow: wrap;
    margin-right: 12px;
    margin-top: 12px;
    flex: 1;
    min-width: 0;
}

.cards-container-child{
  display: flex;
  flex-flow: wrap;
  margin-right: 12px;
  margin-top: 12px;
  flex: 1;
  min-width: 0;
}

img {
    margin: 20px;
    height: 400px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    /* filter: invert(60%) sepia(87%) saturate(3148%) hue-rotate(1deg) brightness(96%) contrast(102%); */
    /* filter: invert(100%) */
  }

p.name{
    font-size: 15px;
}

h2{
    color: white;
}

.info{
    width: 90%;
    background-color: #f57f01;
    display: flex;
    flex-flow: column nowrap;
}

.add-button{
    margin-left: auto;
    width: 100%;
    background-color:#fb9b34;
}

.remove-button{
    margin-left: auto;
    width: 100%;
    background-color:#b75e00;
}

p{
    color: white;
}

.scryfall-link {
  color: #f57f01;
  text-decoration: none;
}

.set{
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
}

.options {
  margin: 20px;
  background-color: transparent;
  border: 1px solid #f57f01;
}

.set-name > p{
    font-size: 35px;
}

.set-icon{
    filter: invert(64%) sepia(58%) saturate(4284%) hue-rotate(358deg) brightness(88%) contrast(103%);
    width: 350px;
    height: 350px;
}

.set-data{
    display: flex;
}

.set-data-card{
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
    margin-left: 50px;
    width: 40%;
}

.set-progress-card{
    margin: 20px;
    background-color: transparent;
    border: 1px solid #f57f01;
    width: 40%;
}

.set-data-card > p {
    font-size: 20px;
    font-weight: bold;
    color: #f57f01;
}

.progress{
    height: 100%;
}

.progress-bottom{
    border: 1px solid #f57f01;
    height: 20px;
    width: 100%;
    position:static;
}

.progress-top{
    background-color: #f57f01;
    height: 100%;
}

.mat-divider {
    border-top-color:#f57f0163;
}

.progress-text{
    margin-top: 15px;
}

.progress-text > p{
    text-align: center;
    color: #f57f01;
    font-size: 20px;
    font-weight: bold;
}

.progress-bar{
    height: 20px;
}

.child-set-cont {
  margin-bottom: 20px;
  display: flex;
  height: auto;
  width: 100%;
}

.sort-tabs {
  margin: 20px;
}

h2{
  text-align: center;
  color: #f57f01;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button-group > * {
  margin: 10px;
  width: 24%;
}

.prog-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prog-button-group > *{
  margin: 20px;
  width: 50%;
}

.collected-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: greenyellow;
  position: absolute;
  right: 35px;
  border: 3px solid green;
}

.notcollected-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 82, 82);
  position: absolute;
  right: 35px;
  border: 3px solid red;
}

.spacer {
  width: 40%;
}
