<div class="set-container">
  <mat-card class="set">
    <mat-toolbar color="accent" class="set-name"><p class="name">{{set.name}}<p></mat-toolbar>
      <div class="set-data">

        <img src="{{set.icon_svg_uri}}" alt="" class="set-icon" (click)="log()">
        <mat-card class="set-data-card">
          <p style="text-transform: uppercase;">{{set.code}}</p>
          <mat-divider class="divider"></mat-divider><br>
          <p>{{set.name}}</p>
          <mat-divider class="divider"></mat-divider><br>
          <p>{{set.released_at}}</p>
          <mat-divider class="divider"></mat-divider><br>
          <p>{{set.set_type}}</p>
          <mat-divider class="divider"></mat-divider><br>
          <p>Cards: {{set.card_count}}</p>
          <mat-divider class="divider"></mat-divider><br>
          <p><a class="scryfall-link" href="{{set.scryfall_uri}}" target="_blank" rel="noopener noreferrer">{{set.scryfall_uri}}</a></p>
          <mat-divider class="divider"></mat-divider><br>
        </mat-card>

        <mat-card class="set-progress-card" (click)="log()">
          <mat-toolbar color="accent" class="set-name"><p class="name">Progress<p></mat-toolbar>
            <br>

          <div class="progress">
            <!-- <div class="progress-bottom">
              <div class="progress-top" [style.width.%]="progressWidth" ></div>
              <div class="progress-top" [ngStyle]="{ width : progressWidth + '%' }" ></div>
            </div> -->
            <mat-progress-bar mode="determinate" [value]="progressWidth" class="progress-bar" color="accent"></mat-progress-bar>
            <div class="progress-text">
              <p>{{collected}} / {{set.card_count}}</p>
            </div>
          </div>
        </mat-card>

      </div>
  </mat-card>
</div>

<div class="cards-container">
  <ng-container *ngFor="let card of cards">
      <mat-card class="card">
          <mat-toolbar color="accent"><p class="name">{{card.name}}<p></mat-toolbar>
          <img *ngIf="card.image_uris != undefined; else elsePart" src="{{card.image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
          <ng-template #elsePart>
            <img src="{{card.card_faces[0].image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
          </ng-template>

          <mat-card color="accent" class="info">
            <div>
              <p style="text-transform: capitalize;">{{card.rarity}}</p>
              <p>Collector Number: {{card.collector_number}}</p>
            </div>

            <div *ngIf="isInCollection(card.id) === true; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <button mat-raised-button style="color: white;" class="remove-button" (click)="removeFromCollection(card.id)">
                remove
              </button>
            </ng-template>
            <ng-template #elseBlock>
              <button mat-raised-button color="accent" style="color: white;" class="add-button" (click)="addToCollection(card.id)">
                Add
              </button>
            </ng-template>

          </mat-card>
        </mat-card>
  </ng-container>
</div>



<div  *ngFor="let child of childSets">
  <mat-toolbar color="accent" class="set-name"><p class="name">{{child.name}}<p></mat-toolbar>
  <ng-container *ngFor="let set of childSetCards">
    <div class="cards-container-child" *ngIf="child.code == set.code">
        <ng-container *ngFor="let card of set.cards">
          <mat-card class="card">
            <mat-toolbar color="accent"><p class="name">{{card.name}}<p></mat-toolbar>
            <img *ngIf="card.image_uris != undefined; else elsePart" src="{{card.image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
            <ng-template #elsePart>
              <img src="{{card.card_faces[0].image_uris.border_crop}}" alt="" [routerLink]="['/dashboard/collection/', card.id]">
            </ng-template>

            <mat-card color="accent" class="info">
              <div>
                <p style="text-transform: capitalize;">{{card.rarity}}</p>
                <p>Collector Number: {{card.collector_number}}</p>
              </div>

              <div *ngIf="isInCollection(card.id) === true; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <button mat-raised-button style="color: white;" class="remove-button" (click)="removeFromCollection(card.id)">
                  remove
                </button>
              </ng-template>
              <ng-template #elseBlock>
                <button mat-raised-button color="accent" style="color: white;" class="add-button" (click)="addToCollection(card.id)">
                  Add
                </button>
              </ng-template>

            </mat-card>
          </mat-card>
        </ng-container>
    </div>
  </ng-container>
</div>

<app-quick-move></app-quick-move>
