<p>binder-modify works!</p>

<div class="binder-container">
  <div class="binder-top">
    <div class="left-page">
      <div class="card-pocket" *ngFor="let card of testData"></div>
    </div>
    <div class="right-page">

    </div>
  </div>
  <div class="binder-bottom">
    <button mat-raised-button class="binder-button" color="accent">Previous Opening</button>
    <button mat-raised-button class="binder-button" color="accent">Add All</button>
    <button mat-raised-button class="binder-button" color="accent">Next Opening</button>
  </div>
</div>
