.binder-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.binder-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.binder-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.left-page, .right-page {
  background-color: rgb(172, 172, 172);
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left-page {
  margin-right: 10px;
}

.right-page {
  margin-left: 10px;
}

.binder-button {
  width: 20%;
}

.card-pocket {
  color: black;
  height: 25%;
  width: 25%;
  background-color: rgb(213, 213, 213);
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card-pocket-collected {
  color: white;
  height: 25%;
  width: 25%;
  background-color: rgb(66 145 50);
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.card-pocket:hover {
  background-color: rgb(255, 205, 130);
  transition: 1s;
  cursor: pointer;
}

.card-pocket-collected:hover {
  background-color: rgb(161, 44, 44);
  transition: 1s;
  cursor: pointer;
}

.card-data {
  height: 33%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
